#container {
    display: grid;
      grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px; 
  
  } 
  
  .box {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid;
    text-align: center;
    font-size: 50pt; 
    cursor: pointer;
  }
  
  #restart { 
    margin: 10 px; 
  }